body,
html,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  padding-top: 20px;
  display: block;
  position: relative;
  height: 100%;
  width: 100px;
  border-right: 2px solid #000;
  margin-right: 20px;
}

.sidebar__link {
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__link:hover {
  background-color: #ccc;
}

.content {
  height: 100%;
  display: flex;
}

.action__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #ddd;
  margin-left: 10px;
}

.main {
  padding-top: 20px;
}
